.home--title{
    text-align: center;
    font-size: 200px;
    margin-top: 15%;
}
.home--button{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    border: 6px #a6fff4
}